  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .speedeometer-container{
    width: 300px;
    height:  300px;
    border-radius: 50%;
    background-color:  black;
    position: absolute;
    top: 137px;
    left: 137px;
    z-index: 12;
  }
  .center-point{
    width: 20px;
    height: 20px;
    background-color:  black;
    border-radius:50%;
    position :absolute;
    top: 137px;
    left: 137px;
    z-index: 12;
  }
.speedometer-scale{
    width: 8px;
    height:280px;
    background-color: black;
    position: absolute;
    left:143px;
    top:7px;
    transform: rotate(-90deg);

    
}
.speedometer-scale-1{
    transform: rotate(-90deg);
}
.speedometer-scale-2{
    transform: rotate(-80deg);
}
.speedometer-scale-3{
    transform: rotate(-70deg);
}

.speedometer-scale-4{
    transform: rotate(-60deg);
}
.speedometer-scale-5{
    transform: rotate(-50deg);
}
.speedometer-scale-6{
    transform: rotate(-40deg);
}
.speedometer-scale-7{
    transform: rotate(-30deg);
}
.speedometer-scale-8{
    transform: rotate(-20deg);
}
.speedometer-scale-9{
    transform: rotate(-10deg);
}
.speedometer-scale-10{
    transform: rotate(0deg);
}
.speedometer-scale-11{
    transform: rotate(10deg);
}
.speedometer-scale-12{
    transform: rotate(20deg);
}
.speedometer-scale-13{
    transform: rotate(30deg);
}
.speedometer-scale-14{
    transform: rotate(40deg);
}
.speedometer-scale-15{
    transform: rotate(50deg);
}
.speedometer-scale-16{
    transform: rotate(60deg);
}
.speedometer-scale-17{
    transform: rotate(70deg);
}
.speedometer-scale-18{
    transform: rotate(80deg);
}
.speedometer-scale-19{
    transform: rotate(90deg);
}

.speedeometer-center-hide{
    width: 250px;
    height: 250px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 9;
}
.arrow-wrapper{
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: relative;
    transition: all 0.4s;
}

.arrow-container{
    width: 160px;
    height: 160px;
    background-color: transparent;
    position: absolute;
    z-index: 12;
    top: 67px;
    left: 67px;
}
.arrow{
    width: 100px;
    height: 4px;
    background-color: purple;
    position: absolute;
    top: 78px;
    left: -30px;
    
}
.speed-0{
    transform: rotate(0deg);
}
.speed-10{
    transform: rotate(10deg);
}.speed-20{
    transform: rotate(20deg);
}.speed-30{
    transform: rotate(30deg);
}.speed-40{
    transform: rotate(40deg);
}.speed-50{
    transform: rotate(50deg);
}.speed-60{
    transform: rotate(60deg);
}.speed-70{
    transform: rotate(70deg);
}.speed-80{
    transform: rotate(80deg);
}.speed-90{
    transform: rotate(90deg);
}.speed-100{
    transform: rotate(100deg);
}.speed-110{
    transform: rotate(110deg);
}.speed-120{
    transform: rotate(120deg);
}.speed-130{
    transform: rotate(130deg);
}
.speed-140{
    transform: rotate(140deg);
}
.speed-150{
    transform: rotate(150deg);
}
.speed-160{
    transform: rotate(160deg);
}
.speed-170{
    transform: rotate(170deg);
}

.speedometer-bottom-hide{
    width: 320px;
    height: 130px;
    background-color: white;
    position: absolute;
    z-index: 11;
    top: 160px;
    left: -14px;
    border-top: 1px solid;
}
.accelerate-container button{
    width: 200;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin:20px;
    font-size:18px;
    font-weight: bold;
    cursor:pointer;
    margin-top: 300px;
    z-index: 88;
}
.accelerate-container button :active{
box-shadow: 5px 5px 5px white;
}
.increase{
    background-color: green;
}
.decrease{
    background-color: red;
}
.speedometer-text{
    width: 100px;
    background-color: white;
    position: absolute;
    z-index: 12;
    left: 98px;
    top: 60px;
    text-align: center;
    font-weight: bold;
}
.static{
    font-size: 30px;

}
.dynamic{
 margin-top: 10px;
}
.km{
    font-size:20px;
}
.unit{
    font-size:14px;
}
